<link href="css/login.css" rel="stylesheet">


<ion-view view-title="Inicio">
    <ion-content class="cards-bg">
        <div class = "container">
            <div class="wrapper">
                <h1 class="form-signin-heading" style="margin-top: 20%">Sue.io</h1>
                <hr class="colorgraph"><br>

                <h2>Bem-vindo, {{user.name}}!</h2>
                
                <center><img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/></center>
            
            </div>
        </div>
    </ion-content>
</ion-view>