<link href="css/login.css" rel="stylesheet">


<ion-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <ion-content>
    <div class = "container">
      <div class="wrapper">
          <h3 class="form-signin-heading">Faça seu cadastro com o Facebook</h3>
          <hr class="colorgraph"><br>
        
          <button class="button button-block button-positive" ng-click="fbLogin()">Entrar com o Facebook</button>
      </div>
    </div>
  </ion-content>
</ion-view>
